.container{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; horizontal */
     /* align-items:center ;  vertical */
     /* flex-direction: row; */
     flex-wrap: wrap;
}

.box{
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: aqua;
    /* display: ; */
    align-content: space-between;
}

.container2{
    background-color: blueviolet;
}

.cart1{
    height: 200px;
    width: 200px;
    background-color: beige;
    padding: 40px;
}

.cart2{
    height: 200px;
    width: 200px;
    background-color: beige;
    margin: 40px;
}